html {
  height: 100%;
  background: url(../photos/homebackground4.jpg) no-repeat center center;
  background-size: cover;
  font-family: "Helvetica";
  font-weight: lighter;
}
.mainHeader nav {
  background: #E1E3E4;
  background-color: background: #CCC;
  opacity:0.6; color: #E1E3E4;
	font-size: 1.343em;
	height: 50px;
	line-height: 40px;
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
  margin: -10px;
  margin-top: -22px;
}
.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #01172D;
	display: inline-block;
	height: 40px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background: #008AE6;
	color: #fff;
	text-shadow: none !important;
}

.mainHeader nav li a {
  margin-right: -6px;
}
@media only screen and (min-width : 150px) and (max-width : 780px)
{
  .mainHeader nav {
		background: #E1E3E4;
		font-size: 1.143em;
		height: 160px;
		line-height: 30px;
		margin-bottom: 0;
    padding-top: 15px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
    text-align: middle;
	}
  .mainHeader nav ul {
		list-style: none;
		margin: 0 auto;
		padding-left: 0;
	}

	.mainHeader nav li {
		margin-left: 0 auto;
		width: 100%;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
		color: black;
		display: block;
		height: 30px;
		padding: 5px 0;
		text-decoration: none;
	}

	.mainHeader nav a:active,
	.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
		background: #008AE6;
		color: white;
		text-shadow: none !important;
	}

	.mainHeader nav li a {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;

		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
.bubbles{
  size: 20%;
}
}
h3{
  background-color: background: #CCC;
  opacity:0.7; color: black; position: relative;
}
#algebracircle{
  position: absolute;
  left: 14%;
  top: 30%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#geometrycircle{
  position: absolute;
  left: 64%;
  top: 80%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#trigcircle{
  position: absolute;
  left: 74%;
  top: 40%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#biocircle{
  position: absolute;
  left: 34%;
  top: 15%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#chemcircle{
  position: absolute;
  left: 20%;
  top: 80%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#physicscircle{
  position: absolute;
  left: 84%;
  top: 70%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#history1{
  position: absolute;
  left: 47%;
  top: 80%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#history2{
  position: absolute;
  left: 64%;
  top: 30%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#history3{
  position: absolute;
  left: 5%;
  top: 10%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#comp1{
  position: absolute;
  left: 10%;
  top: 55%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#comp2{
  position: absolute;
  left: 34%;
  top: 70%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
#comp3{
  position: absolute;
  left: 84%;
  top: 25%;
  width: 117px;
  height: 117px;
  z-index: 999px;
}
.bubbles{

  width:150px;
  height:150px;
  background: none;
  opacity: 0.7;
  transition: 0.5s ease-in-out;

}

.bubbles:hover{
  opacity: 2;
  -webkit-transform: scale(1.1);
          transform: scale(1.5);
}
body{
  width: 100%;
}
.mathbubbles,
.sciencebubbles,
.historybubbles,
.csbubbles {
  display: none;
  opacity: 0;
}
.mainwrapper {
  text-align: center;
  padding-top: 20%;
}
#linkbubbles {
  border: 1px solid white;
  border-radius: 50%;
	width: 220px;
	height: 220px;
  text-align: center;
  background: rgb(30,87,153);
background: -moz-linear-gradient(top, rgb(30,87,153) 0%, rgb(41,137,216) 50%, rgb(32,124,202) 51%, rgb(125,185,232) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(30,87,153)), color-stop(50%,rgb(41,137,216)), color-stop(51%,rgb(32,124,202)), color-stop(100%,rgb(125,185,232)));
background: -webkit-linear-gradient(top, rgb(30,87,153) 0%,rgb(41,137,216) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%);
background: -o-linear-gradient(top, rgb(30,87,153) 0%,rgb(41,137,216) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%);
background: -ms-linear-gradient(top, rgb(30,87,153) 0%,rgb(41,137,216) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%);
background: linear-gradient(to bottom, rgb(30,87,153) 0%,rgb(41,137,216) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
  display: inline-block;
}
.innertext {
  font-size: 25px;
  padding-top: 11px;
  margin-top: 9px;
}

.innertext:hover{
    opacity: 2;
    -webkit-transform: scale(1.1);
            transform: scale(1.5);
  }
.login{
    font-size: 30px;
    font-family: "Helvetica";
    font-weight: lighter;
    color: rgb(246, 246, 246);
    line-height: 1.2;
    float: right;
    margin-top: 10px;
    border: none;
    padding: 15px;
    }
a {
  text-decoration: none;
}
