html{
  background: url(subjectbackground1.jpg) no-repeat center center;
  font-family: "Helvetica";
  font-weight: lighter;
}
.mainHeader nav {
  background: #E1E3E4;
  background-color: background: #CCC;
  opacity:0.9; color: #E1E3E4;
	font-size: 1.343em;
	height: 50px;
	line-height: 40px;
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
  margin: -10px;
  margin-top: -22px;
}
.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #01172D;
	display: inline-block;
	height: 40px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background: #008AE6;
	color: #fff;
	text-shadow: none !important;
}

.mainHeader nav li a {
  margin-right: 5px;
}
