<!DOCTYPE html>
<html>
  <head>
    <head lang="en">
      <meta charset="utf-8">
      <title>
        Subject
      </title>
      <link rel="stylesheet" type="text/css" href="../css/subject.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="../javascript/allscript.js"></script>
    <title>{{subject.capitalize()}}</title>
  </head>
  <body>
    <div class="tsop">
      <a href="/">
      </a>
      <header class="mainHeader">
    		<nav><ul>
    			<li><a href="/">Home</a></li>
          <li><a href="personal">My Page</a></li>
    			<li><a href="credits">Credits/References</a></li>
    		</ul></nav>
    	</header>
    </div>
    <img id="subjectmainbackground" src="../photos/compscibackground.jpg"/>
    <h1 id="subjecttitle">{{subject.replace("-", " ").title()}}</h1>
<div id="formwrapper1">
    <form action="add" method="post">
      <h3>Coursera:</h3>
      <ul id="courseralinks">
        <div id="linkbuttonwrapper">
          {% for name, link in coursera_courses.items() %}
            <li id="linkbubbles"><div id="innertext"><a href={{link}} target="_blank"> {{name}}</a></div></li>
            <input type="radio" name = "chosen_course" value="{{name}}||{{link}}">
          {% endfor %}
        </div>
      </ul>
    </div>
      <br>
      <br>
      <h3>Khan Academy:</h3>
      <ul id="khanlinks">
        {% for name, link in khan_courses.items() %}
          <li id="linkbubbles"><div id="innertext"><a href={{link}} target="_blank"> {{name}}</a></div></li>
          <input type="radio" name = "chosen_course" value="{{name}}||{{link}}">
        {% endfor %}
      </ul>
      <br>
      <br>
      <h3>iTunes U:</h3>
      <ul id="ituneslinks">
        {% for name, link in itunes_courses.items() %}
          <li id="linkbubbles"><div id="innertext"><a href={{link}} target="_blank"> {{name}}</a></div></li>
          <input type="radio" name = "chosen_course" value="{{name}}||{{link}}">
        {% endfor %}
      </ul>
      <input type="submit" value="Add Course">
    </form>
    <div></div>

  </body>
</html>
