<!DOCTYPE html>
<html>
  <head>
    <head lang="en">
      <meta charset="utf-8">
      <title>
        Subject
      </title>
      <link rel="stylesheet" type="text/css" href="../css/subject.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="../javascript/allscript.js"></script>
    <title>{{subject.capitalize()}}</title>
  </head>
  <body>
    <div class="tsop">
      <a href="/">
      </a>
      <header class="mainHeader">
        <nav><ul>
          <li><a href="/">Main</a></li>
          <li><a href="/home">Home</a></li>
          <li><a href="personal">My Page</a></li>
          <li><a href="credits">Credits/References</a></li>
          <li><a href="/login">Login/Logout</a>
        </ul></nav>
      </header>
    </div>
    <div id="subjecttitle">
    <h1>{{subject.replace("-", " ").title()}}</h1>
  </div>
<div id="formwrapper1">
    <form action="add" method="post">
      <div id="topbar1">
      <h3>Coursera:</h3>
      <ul id="courseralinks">
        <div id="linkbuttonwrapper">
          {% for name, link in coursera_courses.items() %}
          <div id="buttonwrapper">
            <li id="linkbubbles"><div id="innertext"><a href={{link}} target="_blank"> {{name}}</a></div></li>
            <input type="radio" name = "chosen_course" value="{{name}}||{{link}}">
          </div>
          {% endfor %}
        </div>
      </div>
      </ul>
    </div>
      <br>
      <br>
    <div id="formwrapper1">
      <h3>Khan Academy:</h3>
      <ul id="khanlinks">
        {% for name, link in khan_courses.items() %}
        <div id="buttonwrapper">
          <li id="linkbubbles"><div id="innertext"><a href={{link}} target="_blank"> {{name}}</a></div></li>
          <input type="radio" name = "chosen_course" value="{{name}}||{{link}}">
        </div>
        {% endfor %}
      </ul>
    </div>
      <br>
      <br>
    <div id="formwrapper1">
      <h3>iTunes U:</h3>
      <ul id="ituneslinks">
        {% for name, link in itunes_courses.items() %}
        <div id="buttonwrapper">
          <li id="linkbubbles"><div id="innertext"><a href={{link}} target="_blank"> {{name}}</a></div></li>
          <input type="radio" name = "chosen_course" value="{{name}}||{{link}}">
        </div>
        {% endfor %}
      </ul>
    </div>
      <input type="submit" value="Add Course">
    </form>
    <div></div>

  </body>
</html>
